:host ::ng-deep {
  .overpayment-row td {
    background-color: rgba(19, 108, 52, 0.08) !important; /* green tint */
  }

  .overpayment-amount {
    color: var(--green-strong);
    font-weight: 600;
  }

  td.real {
    color: var(--navy-600);
  }

  .text-right {
    text-align: right !important;
  }

  .text-center {
    text-align: center !important;
  }

  th {
    white-space: nowrap;
  }
}
