<p-card header="Harmonogram spłaty kredytu">
  <p-tabs value="planA">
    <p-tablist>
      <p-tab value="baseline">Bez nadpłat</p-tab>
      <p-tab value="planA">Plan A</p-tab>
      <p-tab value="planB">Plan B</p-tab>
    </p-tablist>

    <p-tabpanels>
      <p-tabpanel value="baseline">
        <ng-container
          *ngTemplateOutlet="scheduleTable; context: { schedule: baselineSchedule() }"
        />
      </p-tabpanel>
      <p-tabpanel value="planA">
        <ng-container *ngTemplateOutlet="scheduleTable; context: { schedule: planASchedule() }" />
      </p-tabpanel>
      <p-tabpanel value="planB">
        <ng-container *ngTemplateOutlet="scheduleTable; context: { schedule: planBSchedule() }" />
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</p-card>

<ng-template #scheduleTable let-schedule="schedule">
  <p-table
    [value]="schedule"
    [paginator]="true"
    [rows]="rowsPerPage"
    [rowsPerPageOptions]="rowsPerPageOptions"
    [scrollable]="true"
    scrollHeight="500px"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Raty {first} - {last} z {totalRecords}"
    styleClass="p-datatable-sm p-datatable-striped"
  >
    <ng-template #header>
      <tr>
        <th class="text-center" pSortableColumn="number">Nr <p-sortIcon field="number" /></th>
        <th class="text-center" pSortableColumn="date">Data <p-sortIcon field="date" /></th>
        <th class="text-right" pSortableColumn="scheduledPayment">
          Rata (zł) <p-sortIcon field="scheduledPayment" />
        </th>
        <th class="text-right" pSortableColumn="capitalPart">
          Kapitał (zł) <p-sortIcon field="capitalPart" />
        </th>
        <th class="text-right" pSortableColumn="interestPart">
          Odsetki (zł) <p-sortIcon field="interestPart" />
        </th>
        <th class="text-right" pSortableColumn="overpayment">
          Nadpłata (zł) <p-sortIcon field="overpayment" />
        </th>
        <th class="text-right" pSortableColumn="remainingBalance">
          Saldo (zł) <p-sortIcon field="remainingBalance" />
        </th>
        @if (inflationEnabled()) {
          <th class="text-right" pSortableColumn="realValueOfPayment">
            Realna wart. (zł) <p-sortIcon field="realValueOfPayment" />
          </th>
        }
      </tr>
    </ng-template>
    <ng-template #body let-inst>
      <tr [class.overpayment-row]="inst.overpayment > 0">
        <td class="text-center">{{ inst.number }}</td>
        <td class="text-center">{{ inst.date | date: 'MM.yyyy' }}</td>
        <td class="text-right">{{ inst.scheduledPayment | number: '1.2-2' : 'pl' }}</td>
        <td class="text-right">{{ inst.capitalPart | number: '1.2-2' : 'pl' }}</td>
        <td class="text-right">{{ inst.interestPart | number: '1.2-2' : 'pl' }}</td>
        <td class="text-right">
          @if (inst.overpayment > 0) {
            <span class="overpayment-amount">{{ inst.overpayment | number: '1.2-2' : 'pl' }}</span>
          } @else {
            -
          }
        </td>
        <td class="text-right">{{ inst.remainingBalance | number: '1.2-2' : 'pl' }}</td>
        @if (inflationEnabled()) {
          <td class="text-right real">
            {{ inst.realValueOfPayment | number: '1.2-2' : 'pl' }}
          </td>
        }
      </tr>
    </ng-template>
    <ng-template #emptymessage>
      <tr>
        <td [attr.colspan]="inflationEnabled() ? 8 : 7" class="text-center py-4">
          Brak danych harmonogramu.
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-template>
